<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="SQLConnString" value="User ID=nrelaxuser;Password=nrelaxuser;Initial Catalog=nRelaxDB_GD_SC;Data Source=.;Persist Security Info=True"/>
    <!--<add key="SQLConnString" value="Persist Security Info=True;User ID=gdtouruser;Password=gdtour!2023.8;Initial Catalog=gdtourdb;Data Source=8.210.169.60,2544;Connect Timeout=120;"/>-->
    <add key="RedisConnString" value="127.0.0.1:6379,password="/>
    <add key="log4net.Internal.Debug" value="false"/>
    <!--文檔庫也放在此目錄下\docs\-->
    <add key="UploadFolder" value="c:\upload"/>
    <add key="UploadFileUrlRoot" value="http://res.duan.qs/"/>
    <add key="ExportTempFolder" value="c:\upload\temp"/>
    <add key="UploadThumFolder" value="c:\upload_Thum"/>
    
    <!--是否开启同一个用户单一台电脑登录  1 表示开启,其他值表示不开启-->
    <add key="OpenSingleLogin" value="0"/>
    <!--调试不发送验证码-->
    <add key="DebugNotSendSMS" value="1"/>
    
    <!--开发-->
    <!--<add key="License" value="b508126d5d176f4c097002ba7ff5510f"/>
        <add key="ReceiptNo" value=""/>-->
    <!--china-->
    <!--<add key="License" value="4551f7cd17eec26305d76b15f15583e1"/>
        <add key="ReceiptNo" value="001"/>-->
    <!--jacheng-->
    <add key="License" value="fe5aedd7217f34297059b6fc02b60002"/>

    <!---导游小程序配置项-->
    <add key="GuideAppId" value="wx3e429a2abd1425d4"/>
    <add key="GuideAppKey" value="ca013c2dee280ecf3b3ff8aa2d93aea0"/>
   
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="error.htm"/>
    <trust level="Full"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400"/>
    <identity impersonate="true"/>
    <pages enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
    <machineKey validation="3DES" validationKey="319B474B1D2B7A87C996B280450BB36506A95AEDF9B51211" decryption="3DES" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A87"/>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="false" doDynamicCompression="false"/>
  </system.webServer>
  
</configuration>