<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="SQLConnString" value="User ID=nrelaxuser;Password=nrelaxuser;Initial Catalog=nRelaxDB_GD_SC;Data Source=.;Persist Security Info=True" />
    <!--<add key="SQLConnString" value="Persist Security Info=True;User ID=gdtouruser;Password=gdtour!2023.8;Initial Catalog=gdtourdb;Data Source=8.210.169.60,2544;Connect Timeout=120;"/>-->
    <add key="log4net.Internal.Debug" value="false" />
    <!--文檔庫也放在此目錄下\docs\-->
    <!--开发-->
    <!--<add key="License" value="b508126d5d176f4c097002ba7ff5510f"/>-->
    <!--<add key="License" value="4551f7cd17eec26305d76b15f15583e1"/>-->
    <add key="License" value="fe5aedd7217f34297059b6fc02b60002" />
    <!---导游小程序配置项-->
    <add key="GuideAppId" value="wx3e429a2abd1425d4" />
    <add key="GuideAppKey" value="ca013c2dee280ecf3b3ff8aa2d93aea0" />
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="error.htm" />
    <trust level="Full" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" />
    <identity impersonate="true" />
    <pages enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
    <machineKey validation="3DES" validationKey="319B474B1D2B7A87C996B280450BB36506A95AEDF9B51211" decryption="3DES" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A87" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>